body {
background-image: url("images/stars.png");
background-position: center;
background-size: cover;
background-color: #0b0577;

}

h1 {
  text-align: center;
  font-family: "Lucida Handwriting", Lucida, cursive;
}



h2 {
  text-align: center;


}

hr {
  color: #ff0000;
}


h3 {
  text-align: center;
}

.imgbox {
border: 2px solid #ff0000;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color:  #202c7b;
}

.emphasized {
  font-style: italic;
}
