body {
background-color: #8BCBE0;
<!-- rose EC9E8E -->
<!-- blue 8bcbe0 -->
}

h1 {
  text-align: center;
}



h2 {
  text-align: center;
}


h3 {
  text-align: center;
}


p {
  text-align: center;
}

.imgbox {
border: 2px solid #ff0000;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color: #0000ff;
}
