body {
background-color: #8ED6EC;
;

}

h1 {
  text-align: center;
}



h2 {
  text-align: center;
}


h3 {
  text-align: center;
}


p {
  text-align: center;
}

iframe{
  width: 98%;
  height: 500px;
  overflow: hidden;
  border: 0;
}
